<h1>Formulario de Ingreso de Peliculas</h1>

<%= form_with(model:@movie, local: :true) do |f| %>
<%= f.label :name, "nombre" %>
<%= f.text_field :name %>
<%= f.label :year, "año" %>
<%= f.text_field :year %>
<%= f.submit "enviar" %>



<% end %>

<%= link_to 'volver al index', movies_path %>
